@use '../config';

body {
  display: var(--grid);
  grid-row-gap: var(--spacer);
  grid-template-areas:
    'l1 head r'
    'nav nav r'
    'l2 main main'
    'l2 now r2'
    'l2 next r2'
    'l2 foot r2'
  ;
  grid-template-columns:
    var(--page-margin) auto var(--page-margin)
  ;
  justify-content: center;
  margin: 1em;

  @supports (display: grid) and (--css: vars) {
    margin: 0;
  }

  @include config.above('wide-break') {
    grid-template:
      'l1  head head head r' auto
      'nav nav  main main main' 1fr
      'l2  now  main main main' auto
      'l2  next next next r2' auto
      'l2  foot foot foot r2' auto
    / var(--page-margin)
      minmax(calc(var(--newline) * 17), 10fr)
      minmax(min-content, var(--page))
      1fr
      var(--page-margin)
    ;
  }
}

header {
  grid-area: head;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

.profile {
  grid-area: now;
}

[id='styles'] {
  grid-area: next;
}

.page-footer {
  grid-area: foot;
}
