@use '../config';

.page-footer {
  background: var(--alt-flag) fixed;
  display: grid;
  font-size: var(--xsmall);
  margin: var(--gutter) 0 var(--spacer);
  place-content: safe center;

  &,
  .container {
    border-radius: var(--radius);
  }

  .container {
    background: var(--flag) fixed;
    margin: var(--gutter);
    padding: var(--gutter);
  }

  &::after {
    @include config.font-settings('extra');
    content: var(--mode-label);
    display: block;
    font-size: var(--h2);
    padding: 0 var(--gutter) var(--gutter);

    @supports (background-clip: text) {
      background: var(--flag) fixed;
      background-clip: text;
      color: transparent;
    }
  }

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
  }

  li {
    list-style: none;
    margin: var(--shim) var(--gutter);
  }
}
