@use 'sass:math';
@use '../config';

nav {
  --line: transparent;
  font-size: var(--small);

  ul {
    display: grid;
    grid-gap: var(--shim);
    margin: 0;
    padding: 0;
    position: sticky;
    top: var(--gutter);
  }

  li {
    display: flex;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        --nav-bg: var(--fancy-#{math.random(2) + 1});
        --nav-flex: #{math.random()};
        --rand-a: #{math.random(12)};
        --rand-b: #{math.random(12)};
      }
    }
  }

  a {
    &:link,
    &:visited {
      --depth: var(--quarter-shim);
      --static-a: var(--shim);
      --static-b: var(--half-shim);
      --clip-a: calc(var(--rand-a) * var(--quarter-shim));
      --clip-b: calc(var(--rand-b) * var(--quarter-shim));
      --path: polygon(
        0 0,
        calc(100% - var(--clip-a)) var(--static-a),
        calc(100% - var(--clip-b)) calc(100% - var(--static-b)),
        0 100%
      );
      background: var(--nav-bg, var(--fancy-1));
      color: var(--bg);
      filter: drop-shadow(var(--shadow-bg));
      flex: var(--nav-flex, 0.2) 0 auto;
      padding: var(--shim) var(--double-gutter);
      position: relative;
      text-align: right;
      transition: filter 300ms ease-in-out;

      @supports (clip-path: inset(0)) {
        background: transparent;

        &::before {
          @include config.position(0);
          background: var(--nav-bg, var(--fancy-1));
          content: '';
          clip-path: var(--path);
          transition: clip-path 300ms ease-in-out;
          z-index: -1;
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      --static-a: var(--half-shim);
      --static-b: var(--quarter-shim);
      --rand-a: #{math.random(5)};
      --rand-b: #{math.random(5)};
      --depth: inherit;
      --nav-bg: var(--fancy);
      z-index: 1;
    }
  }
}
