@use 'sass:math';
@use '../config';

nav {
  --line: transparent;
  font-size: var(--small);
  position: relative;

  @include config.above('wide-break') {
    display: grid;
    justify-content: center;

    &::after {
      background: var(--bg);
      bottom: calc(var(--half-shim) * -1);
      content: '';
      height: var(--shim);
      left: 0;
      position: absolute;
      right: 0;
      z-index: 2;
    }
  }

  ul {
    display: grid;
    grid-gap: var(--shim);
    margin: 0;
    padding: 0;

    @include config.above('wide-break') {
      max-height: 80vh;
      position: sticky;
      top: 20vh;
      writing-mode: sideways-lr;
    }
  }

  li {
    display: flex;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        --nav-flex: #{math.random()};
      }
    }
  }

  a {
    &:link,
    &:visited {
      --depth: 1px;
      --static-a: var(--shim);
      --static-b: var(--half-shim);
      --path: polygon(
        0 0,
        calc(100% - var(--clip-a, var(--gutter-plus))) var(--static-a),
        calc(100% - var(--clip-b, var(--gutter))) calc(100% - var(--static-b)),
        0 100%
      );
      background: var(--nav-bg, var(--bg));
      filter: drop-shadow(var(--shadow-fg));
      flex: var(--nav-flex, 0.2) 0 auto;
      padding: var(--shim);
      padding-inline: var(--double-gutter);
      position: relative;
      text-align: right;

      @include config.above('wide-break') {
        --path: polygon(
          var(--static-a) var(--clip-a, var(--gutter-plus)),
           calc(100% - var(--static-b)) var(--clip-b, var(--gutter)),
           100% 100%,
           0 100%
        );
      }

      @supports (clip-path: inset(0)) {
        background: transparent;

        &::before {
          @include config.position(0);
          background: var(--nav-bg, var(--bg));
          content: '';
          clip-path: var(--path);
          z-index: -1;
        }
      }
    }

    &:hover,
    &:focus,
    &:active {
      --depth: var(--half-shim);
      --nav-bg: var(--line-focus);
      color: var(--bg);
      z-index: 1;
    }
  }
}
