svg {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-right: var(--icon-space);
  width: 1em;
}

[id='files'] a,
[href='/styles/css/main-stage.css'],
.page-footer li a,
.link-allstyles,
.link-github {
  &:link,
  &:visited {
    --link: var(--bg);
    --link-focus: var(--link);
    --icon-space: 0.4em;
    --depth: var(--quarter-shim);
    align-items: center;
    background: var(--fancy);
    border-radius: var(--radius);
    box-shadow: var(--shadow-bg);
    display: inline-flex;
    font-size: var(--code);
    justify-content: center;
    padding: var(--shim) var(--gutter);
    text-decoration: none;
    transition: box-shadow 150ms ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    --fancy-1-focus: var(--fancy-2);
    --fancy-2-focus: var(--fancy-1);
    --depth: inherit;
  }

  &:active {
    --depth: 0;
  }

  span {
    display: contents;
  }
}
