svg {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  margin-right: var(--icon-space);
  width: 1em;
}

.link-github {
  &:link,
  &:visited {
    --link: var(--bg);
    --link-focus: var(--link);
    --icon-space: 0.4em;
    align-items: center;
    background: var(--fancy);
    border-radius: var(--radius);
    display: inline-flex;
    font-size: var(--code);
    justify-content: center;
    padding: var(--shim) var(--gutter);
    text-decoration: none;
    transition: box-shadow 150ms ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    --fancy-1-focus: var(--fancy-2);
    --fancy-2-focus: var(--fancy-1);
    box-shadow: var(--shadow-bg);
  }

  &:active {
    box-shadow: 0 0 var(--half-shim) var(--black) inset;
  }

  span {
    display: contents;
  }
}
