@use '../config';

:focus {
  outline: thick dotted currentColor;
  outline: thick dotted var(--outline, currentColor);
  outline-offset: var(--shim);
}

a {
  &:link,
  &:visited {
    @include config.font-settings('code');
    color: var(--link-state, var(--link, var(--action)));
    text-decoration-color: var(--line, var(--line-default, currentColor));
    text-decoration-thickness: var(--line-weight, 0.12em);
    text-decoration-skip-ink: none;
    text-underline-offset: var(--line-offset, 0.1em);
    transition:
      font-variation-settings 200ms ease-out,
      text-decoration 200ms ease-out,
      text-underline-offset 200ms ease-out;
  }

  &:hover,
  &:focus,
  &:active {
    @include config.font-settings('fun', false);
    --link-state: var(--link-focus, var(--focus));
    --line-default: var(--line-focus);
    --line-weight: 0.625em;
    --line-offset: -0.375em;
  }
}
